* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img2{
    width: 600px;
    box-shadow: none;
    height: 20;
}
.img3{
    width: 400px;
    box-shadow: none;
    transition: 1s;
    
}
.img3:hover{
    width: 450px;

}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color:#113bc7;
    color: #fff;
    padding: 1rem 0;
    box-shadow:2px 2px 8px #245acf;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#ffffff;
}

.nav-links {
    list-style: none;
    display: flex;

    
}

.nav-links li {
    margin-right: 1.5rem;

    
}

.nav-links a {
    text-decoration: none;
    color:#ffffff;
    transition: 2s;

    
}
.nav-links a:hover{
    text-decoration: underline;
    text-shadow: #ffffff;
    font-weight: bold;

}
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.product-info {
    flex: 1;
}

.product h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
   
}

.product p {
    font-size: 1.1rem;
    color: #555555;
    margin-bottom: 1.5rem;
    margin-right: 50px;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #113bc7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background-color:gray ;

}
 img {
    max-width:550px;
    height: 300px;
    padding: 0px;
}

.features {
    background-color: #f4f4f4;
    padding: 4rem 0;
}

.features h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.feature {
    text-align: center;
    margin-bottom: 2rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.pricing {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
}

.plan {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.plan h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
.nav-links-home:hover{
    text-decoration: underline;

}
img{
  box-shadow: 5px 5px 20px black;
}
.img4{
    width: 100%;
    height: 400px;
}